.header {
    display:flex;
    justify-content: center;
}

.main {
    display:flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.info {
    flex: none;
    width: 300px;
}

.info > p {
    text-align: center;
}

#grid-container {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width:500px;
}

.grid-block {
    background-color: bisque;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}