.header {
    display:flex;
    justify-content: center;
}

.main {
    display:flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.info {
    flex: 1;
    border: 1px solid black;
}

#grid-container {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width:500px;
}

.grid-block {
    background-color: bisque;
}